body {
    margin: 15px 0 15px 0;
    background-color: #efefef;
}

.mybadge {
    background-color: unset;
    color: unset;
    font-size: 16px;
}

.healthy {
    color: green;
}

.pending {
    color: gray;
}

.warning {
    color: orange;
}

.failed {
    color: red;
}

#last-update {
    float: right;
}